<h1>{{ 'interactive_maps' | transloco }}</h1>
<h2>{{ 'find_location' | transloco }}</h2>
<input id="searchInput" class="input" placeholder="Av/ John Doe 1234" (keydown.enter)="obtainCoordByStr()">

<google-map id="dynamicMap" height="500px" width="100%" [zoom]="zoom" [center]="center">
  <map-marker id="" [options]="markerOptions" [position]="userMarker.getPosition()"></map-marker>

  <map-marker *ngFor="let marker of parkMarkers" [options]="parkMarkerOptions" [position]="marker.getPosition()"
    [visible]="marker1.getVisible()" (mapClick)="openInfoWindow(marker, 'park')">
  </map-marker>

  <map-marker *ngFor="let marker of petStoreMarkers" [options]="storeMarkerOptions" [position]="marker.getPosition()"
    [visible]="marker5.getVisible()" (mapClick)="openInfoWindow(marker, 'pet store')">
  </map-marker>

  <map-marker *ngFor="let marker of hotelMarkers" [options]="hotelMarkerOptions" [position]="marker.getPosition()"
    [visible]="marker4.getVisible()" (mapClick)="openInfoWindow(marker, 'pet friendly hotel')">
  </map-marker>

  <map-marker *ngFor="let marker of hairDMarkers" [options]="hairMarkerOptions" [position]="marker.getPosition()"
    [visible]="marker3.getVisible()" (mapClick)="openInfoWindow(marker, 'pet hairdresser')">
  </map-marker>

  <map-marker *ngFor="let marker of toyMarkers" [options]="toystoreMarkerOptions" [position]="marker.getPosition()"
    [visible]="marker6.getVisible()" (mapClick)="openInfoWindow(marker, 'veterinary clinic')">
  </map-marker>

  <map-marker *ngFor="let marker of cafeMarkers" [options]="cafeMarkerOptions" [position]="marker.getPosition()"
    [visible]="marker2.getVisible()" (mapClick)="openInfoWindow(marker, 'pet friendly cafe')">
  </map-marker>
</google-map>

<div class="button-container">
  <div>
    <button id="storeBtn" class="button-off" (click)="toggleButtonClass('storeBtn', marker5)">
      <img src="/assets/mapIcons/samp/shop_ico.svg" alt="">
    </button><br>
    <label>{{ 'petstore' | transloco }}</label>
  </div>

  <div>
    <button id="parkBtn" class="button-off" (click)="toggleButtonClass('parkBtn', marker1)">
      <img src="/assets/mapIcons/samp/park_ico.svg" alt="">
    </button><br>
    <label>{{ 'park' | transloco }}</label>
  </div>

  <div>
    <button id="cafeBtn" class="button-off" (click)="toggleButtonClass('cafeBtn', marker2)">
      <img src="/assets/mapIcons/samp/cafe_ico.svg" alt="">
    </button> <br>
    <label>{{ 'cafe' | transloco }}</label>
  </div>
</div>

<div class="button-container">
  <div>
    <button id="homeBtn" class="button-off" (click)="toggleButtonClass('homeBtn', marker4)">
      <img src="/assets/mapIcons/samp/hotel_ico.svg" alt="">
    </button><br>
    <label>{{ 'hotel' | transloco }}</label>
  </div>

  <div>
    <button id="hairBtn" class="button-off" (click)="toggleButtonClass('hairBtn',marker3)">
      <img src="/assets/mapIcons/samp/hair_ico.svg" alt="">
    </button><br>
    <label>{{ 'hairdresser' | transloco }}</label>
  </div>

  <div>
    <button id="petstoreBtn" class="button-off" (click)="toggleButtonClass('petstoreBtn', marker6)">
      <img src="/assets/mapIcons/samp/toystore_ico.svg" alt="">
    </button><br>
    <label>{{ 'toy' | transloco }}</label>
  </div>

</div>

<div class="overlay" *ngIf="showPopup">
  <div class="popup">
    <p>This site is a <b>{{siteType}}</b>. You can find it in <a href='https://www.google.com/maps?q={{siteName}}'
        target="_blank"> here</a> </p>
    <div style="text-align: center;">
      <button (click)="closePopup()">Close</button>
    </div>
  </div>
</div>