<div>
    <h1 style="text-align: center;">{{petInfo.name}}<img id="petsIcon" src="/assets/imgs/delete_pet_icon.svg"
            (click)="deletePet(petInfo.id || '')" alt="pets">
    </h1>
</div>
<div style="text-align: center;">
    <img src="{{petInfo.profile_image}}" style="width: 300px;">
</div>

<div class="module" style="column-count: 2;">
    <h1> {{ 'personal_info' | transloco }}<img id="petsIcon" src="/assets/imgs/pet_edit_icon.svg" alt="pets"
            (click)="openPersonalPetInfoForm()"></h1>
    <div class="popup-background" [ngClass]="{ 'active': isPersonalInfoFormVisible }">
        <div class="popup-form" id="personalInfoForm" (click)="stopPropagation($event)">
            <form (ngSubmit)="updatePetPersonalInfo()" [formGroup]="updatePersonalPetInfoForm" class="form-container">
                <h1>{{'personal_info' | transloco}}</h1>
                <input type="text" [placeholder]="'pet_name' | transloco" formControlName="name">
                <input type="text" [placeholder]="'pet_type' | transloco" formControlName="type">
                <input type="text" [placeholder]="'pet_breed' | transloco" formControlName="breed">
                <input type="text" [placeholder]="'pet_height' | transloco" formControlName="height">
                <mat-form-field>
                    <mat-label>{{'pet_birth' | transloco}}</mat-label>
                    <input formControlName="birth" matInput [matDatepicker]="picker" (click)="picker.open()"
                        (dateInput)="onDateInput($event)" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <button type="submit" class="btn" [disabled]="updatePersonalPetInfoForm.invalid">{{'accept_button' |
                    transloco}}</button>
                <button type="button" class="btn cancel" (click)="closePersonalPetInfoForm()">{{'close_button' |
                    transloco}}</button>
            </form>
        </div>
    </div>
    <div class="info-container">
        <div>
            <div>
                <label><b>{{ 'pet_profile_name' | transloco }}</b></label>
                <span> {{petInfo.name}}</span><br>

                <label><b> {{ 'pet_profile_birth' | transloco }}</b></label>
                <span> {{getBirth(petInfo.birth)}}</span><br>

                <label for="petTypeBreed"><b>{{ 'pet_profile_type' | transloco }}</b></label>
                <span id="petTypeBreed"> {{petInfo.type}}, {{petInfo.breed}}</span><br>
            </div>
            <div>
                <label for="petWeight"><b> {{ 'pet_weight' | transloco }}</b></label>
                <span id="petWeight"> {{getLatestWeight()}}g</span><br>

                <label for="petHeight"><b> {{ 'pet_height' | transloco }}</b></label>
                <span id="petHeight"> {{petInfo.height}}cm</span><br>
            </div>
        </div>

        <div class="module" style="padding-right: 5px;">
            <h1>{{ 'pet_vaccines' | transloco }}<img id="petsIcon" src="/assets/imgs/add_icon.svg"
                    (click)="openMandatoryVaccinesForm()" alt="pets">
            </h1>
            <div class="popup-background" [ngClass]="{ 'active': isMandatoryVaccinesVisible }">
                <div class="popup-form" id="MandatoryVaccinesForm" (click)="stopPropagation($event)">
                    <form (ngSubmit)="updatePetMandatoryVaccines()" [formGroup]="updateMandatoryVaccinesForm"
                        class="form-container">
                        <h1>{{'pet_vaccines' | transloco}}</h1>
                        <input type="text" [placeholder]="'pet_vaccines' | transloco" formControlName="vaccines">
                        <button type="submit" class="btn"
                            [disabled]="updateMandatoryVaccinesForm.invalid">{{'accept_button' |
                            transloco}}</button>
                        <button type="button" class="btn cancel" (click)="closeMandatoryVaccinesForm()">{{'close_button'
                            |
                            transloco}}</button>
                    </form>
                </div>
            </div>
            <ul *ngFor="let vaccine of petInfo.health_info?.vaccines">
                <li>{{vaccine}} ✓</li>
            </ul>
        </div>
    </div>
</div>
<div class="module" style="padding-right: 5px;">
    <h1>{{ 'pet_resume' | transloco }}<img id="petsIcon" src="/assets/imgs/pet_edit_icon.svg"
            (click)="openPetResumeForm()" alt="pets"></h1>
    <div class="popup-background" [ngClass]="{ 'active': isPetResumeVisible }">
        <div class="popup-form" id="PetResumeForm" (click)="stopPropagation($event)">
            <form (ngSubmit)="updatePetResume()" [formGroup]="updatePetResumeForm" class="form-container">
                <h1>{{'pet_resume' | transloco}}</h1>
                <input type="text" [placeholder]="'pet_resume' | transloco" formControlName="observations">
                <br>
                <button type="submit" class="btn" [disabled]="updatePetResumeForm.invalid">{{'accept_button' |
                    transloco}}</button>
                <button type="button" class="btn cancel" (click)="closePetResumeForm()">{{'close_button'
                    |
                    transloco}}</button>
            </form>
        </div>
    </div>
    <p style="text-align: justify;">{{petInfo.health_info?.observations}}
    </p>
</div>
<div class="module" style="padding-right: 5px;">
    <h1>{{ 'pet_statistics' | transloco }}<img id="petsIcon" (click)="openPetStatisticsForm()"
            src="/assets/imgs/add_icon.svg" alt="pets"></h1>
    <div class="popup-background" [ngClass]="{ 'active': isPetStatisticsVisible }">
        <div class="popup-form" id="PetStatisticsForm" (click)="stopPropagation($event)">
            <form (ngSubmit)="updatePetStatistics()" [formGroup]="updatePetStatisticsForm" class="form-container">
                <h1>{{'pet_statistics' | transloco}}</h1>
                <input type="text" [placeholder]="'pet_steps' | transloco" formControlName="steps">
                <input type="text" [placeholder]="'cardiac_freq' | transloco" formControlName="cardiac_freq">
                <br>
                <button type="submit" class="btn" [disabled]="updatePetStatisticsForm.invalid">{{'accept_button' |
                    transloco}}</button>
                <button type="button" class="btn cancel" (click)="closePetStatisticsForm()">{{'close_button'
                    |
                    transloco}}</button>
            </form>
        </div>
    </div>
</div>
<div class="image-container">
</div>
<div id="chart_div">
    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"></apx-chart>
    <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart"></apx-chart>
</div>