<!--
    https://itnext.io/the-ultimate-sidenav-guide-with-angular-resizeable-dynamic-and-toggleable-c42dc057798d
-->


<div class="mainSidenav">
    <app-sidenav-link routerLink="dashboard">
        <img src="/assets/imgs/dashboard.svg" alt="dashboard">
    </app-sidenav-link>

    <app-sidenav-link routerLink="appointments">
        <img src="/assets/imgs/petsPage.svg" alt="pets">
    </app-sidenav-link>

    <app-sidenav-link routerLink="clients">
        <img src="/assets/imgs/map.svg" alt="map">
    </app-sidenav-link>
    
    <app-sidenav-link routerLink="client">
        <img src="/assets/imgs/chat.svg" alt="chat">
    </app-sidenav-link>

    <app-sidenav-link routerLink="client">
        <img src="/assets/imgs/qr.svg" alt="qr">
    </app-sidenav-link>

    <app-sidenav-link routerLink="client">
        <img src="/assets/imgs/info.svg" alt="info">
    </app-sidenav-link>

    <app-sidenav-link routerLink="client">
        <img src="/assets/imgs/userIcon.svg" alt="info">
    </app-sidenav-link>

    <app-sidenav-link routerLink="client">
        <img src="/assets/imgs/signOut.svg" alt="sOut">
    </app-sidenav-link>
</div>