:host {
  height: 60px;
  width: 100%;

  box-sizing: border-box;

  position: fixed;
  bottom: 0;

  background-color: #2D6F28;
  z-index: 1000000000000000000;
}

.mainSidenav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainSidenav img{
  width: 20px;
}