<!--
    https://itnext.io/the-ultimate-sidenav-guide-with-angular-resizeable-dynamic-and-toggleable-c42dc057798d
-->


<div class="mainSidenav">
    <app-sidenav-link routerLink="home" (click)="changeIcon('dashboardIcon')">
        <img id="dashboardIcon" src="/assets/menuIcons/homeOn.svg" alt="dashboard">
    </app-sidenav-link>

    <app-sidenav-link routerLink="menu-pet-appointment" (click)="changeIcon('petsIcon')">
        <img id="petsIcon" src="/assets/menuIcons/dogOff.svg" alt="pets">
    </app-sidenav-link>

    <app-sidenav-link routerLink="map" (click)="changeIcon('mapIcon')">
        <img id="mapIcon" src="/assets/menuIcons/mapOff.svg" alt="map">
    </app-sidenav-link>

    <app-sidenav-link routerLink="chat" (click)="changeIcon('chatIcon')">
        <img id="chatIcon" src="/assets/menuIcons/chatOff.svg" alt="chat">
    </app-sidenav-link>

    <app-sidenav-link routerLink="qr" (click)="changeIcon('qrIcon')">
        <img id="qrIcon" src="/assets/menuIcons/qrOff.svg" alt="qr">
    </app-sidenav-link>

    <!--
    <app-sidenav-link routerLink="client">
        <img src="/assets/imgs/userIcon.svg" alt="info">
    </app-sidenav-link>

    <app-sidenav-link routerLink="client">
        <img src="/assets/imgs/signOut.svg" alt="sOut">
    </app-sidenav-link>
    -->
</div>