.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;   
}
.logo{
    height: 130px;
    margin-bottom: 10px;
}

.body{
    width: 100%;
    max-width: 330px;
    margin: auto;
    padding: 30px;
    text-align: center;
}

.btn-google{
    background-color: #dd4b39;
    color: white;
    width: 100%;
}

.btn-reg{
    background-color: #9d9d9d;
    color: white;
    width: 100%;
}