<h1>Appointments</h1>
<br>
      <div class="row text-center">
          <div class="col-md-4">
            <div class="btn-group">
              <div
                class="btn btn-dark"
                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()"
              >
                Previous
              </div>
              <div
                class="btn btn-outline-secondary"
                mwlCalendarToday
                [(viewDate)]="viewDate"
              >
                Today
              </div>
              <div
                class="btn btn-dark"
                mwlCalendarNextView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()"
              >
                Next
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
          </div>
          <div class="col-md-4">
            <div class="btn-group">
              <div
                class="btn btn-dark"
                (click)="setView(CalendarView.Month)"
                [class.active]="view === CalendarView.Month"
               
              >
                Month
              </div>
              <div
                class="btn btn-dark"
                (click)="setView(CalendarView.Week)"
                [class.active]="view === CalendarView.Week"
              >
                Week
              </div>
              <div
                class="btn btn-dark"
                (click)="setView(CalendarView.Day)"
                [class.active]="view === CalendarView.Day"
              >
                Day
              </div>
            </div>
          </div>
        </div>
        <br />
        <div [ngSwitch]="view" class="calendar-size">
          <mwl-calendar-month-view
            [locale]="locale"
            *ngSwitchCase="CalendarView.Month"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day)"
            (eventClicked)="eventClicked($event)"
            (beforeViewRender)="beforeMonthViewRender($event)"
          >
          </mwl-calendar-month-view>
          <mwl-calendar-week-view
            [locale]="locale"
            *ngSwitchCase="CalendarView.Week"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            (beforeViewRender)="beforeWeekViewRender($event)"
          >
          </mwl-calendar-week-view>
          <mwl-calendar-day-view
            [locale]="locale"
            *ngSwitchCase="CalendarView.Day"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            (beforeViewRender)="beforeDayViewRender($event)"
          >
          </mwl-calendar-day-view>
        </div>
        <br>
        <h3 style="width: 100%; align-self: center;">Upcommig Appointments</h3>
        
        
        <div style="justify-content: center; height: 80px; " *ngIf="!createFlag" >
            <div class="appointment-container" style="display: flex; text-align:center;" (click)="triggerCreateFlag()">
                <img src="../../../assets/imgs/Add.svg" style="height: 70%; padding-left: 5%; padding-top: 5%;">
                <p >Add new Appointment</p>
            </div>
        </div>
        <div *ngIf="createFlag">
          <form (ngSubmit)="add_appoint()" [formGroup]="apponintForm">
          <mat-form-field>
            <mat-select formControlName="pet" (selectionChange)="handleSelectChange($event)" >
              <mat-option
                *ngFor="let pet of pets"
                [value]="pet.id">
                {{ pet.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
              <div class="form-floating mb-3">
                <mat-form-field>
                  <mat-label>Start Date</mat-label>
                  <input formControlName="start_date" matInput [matDatepicker]="picker" (click)="picker.open()" (dateInput)="onDateInputStart($event)" readonly required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              </div>
              <div class="form-floating mb-3">
                <mat-form-field>
                  <mat-label>End Date</mat-label>
                  <input formControlName="end_date" matInput [matDatepicker]="picker2" (click)="picker2.open()" (dateInput)="onDateInputEnd($event)" readonly required>
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" formControlName="matter" class="form-control" placeholder="Matter">
                  <label>Matter</label>
                </div>
              <div class="d-grid gap-2">
                <button class="btn btn-primary btn-lg" type="submit" [disabled]="apponintForm.invalid">Add</button>
                <button class="btn btn-danger btn-lg" (click)="triggerCreateFlag()">Back</button>
              </div>
        </form>
      </div>
        <br>
        <div *ngIf="!createFlag">
        <div style="justify-content: center; height: 100px;" *ngFor="let event of displayed_events">
          <div class="appointment-container" style="display: flex; text-align: center;">
              <img src="../../../assets/imgs/vet_img.svg" style="height: 70%; padding-left: 5%; padding-top: 5%;">
              <div style="align-items: center;  text-align: left; max-width: 200px; padding-left: 10px;">
                  <b style="word-wrap: break-word; margin: 0; color: #286024;">{{ event.start | date:"MMM dd 'at' hh:mm a" }}</b>
                  <p style="word-wrap: break-word; margin: 0;">Pet: {{ event.title }}</p>
                  <p style="word-wrap: break-word; margin: 0;">Vet: Ramon</p>
                  <p style="word-wrap: break-word; margin: 0;">Matter: {{ event.matter }}</p>
              </div>
              <img class="editIcons" src="../../../assets/imgs/edit_icon.svg" (click)="edit_appoint(event)" >
              <img class="editIcons" src="../../../assets/imgs/delete_icon.svg" (click)="delete_event(event)">
          </div>
        </div>
      </div>
    