<h1>
    Benvingut 
</h1>
<h2> {{ currentDate | date: 'EEEE' }}, {{ currentDate | date: 'd' }} {{ currentDate | date: 'MMMM' }}</h2>
<h2>Great to have you here!</h2>

<h2 style="margin-top: 100px;">
    Today's visits
</h2>

<table style="margin-right: -20px;">
    <tr>
        <th>
            <button class="whiteButton">
                <div style="column-count: 2;">
                    <div>
                        <img src="/assets/img/dogImage2.jpg" style="width: 200px;" height="199.5px">
                    </div>
                    <div style="text-align: left;">
                        <p style="font-weight: bold;">Dobby</p>
                        <ul>
                            <li><b>Matter:</b> Dobby has a strange growth</li>
                            <li><b>Observations:</b> Artritis</li>
                        </ul>
                    </div>
                </div>
            </button>
        </th>

        <th>
            <button class="whiteButton">
                <div style="column-count: 2;">
                    <div>
                        <img src="/assets/img/dogImage1.jpg" style="width: 200px;">
                    </div>
                    <div style="text-align: left;">
                        <p style="font-weight: bold;">Tobby</p>
                        <ul>
                            <li><b>Matter:</b> Tobby routinary check</li>
                            <li><b>Observations:</b> none</li>
                        </ul>
                    </div>
                </div>
            </button>
        </th>
    </tr>
</table>

<table style="margin-right: -20px; margin-top: 20px;">
    <tr>
        <th>
            <button class="whiteButton">
                <div style="column-count: 2;">
                    <div>
                        <img src="/assets/img/catImage.avif" style="width: 200px;">
                    </div>
                    <div style="text-align: left;">
                        <p style="font-weight: bold;">Darwin</p>
                        <ul>
                            <li><b>Matter:</b> Darwin has reuma</li>
                            <li><b>Observations:</b> Old cat</li>
                        </ul>
                    </div>
                </div>
            </button>
        </th>
    </tr>
</table>