

<button class="open-button" (click)="openForm()">+</button>

<div class="form-popup" id="myForm">
    <form class="form-container">
        <h1>Register a new pet</h1>

        <label for="pet-name"><b>Pet Name</b></label>
        <input type="text" placeholder="Enter Pet name" [(ngModel)]="petModel.name" name="pet-name" required>

        <label for="pet-type"><b>Pet Type</b></label>
        <input type="text" placeholder="Enter pet type" [(ngModel)]="petModel.type" name="pet-type" required>

        <label for="pet-name"><b>Pet Breed</b></label>
        <input type="text" placeholder="Enter Pet breed" [(ngModel)]="petModel.breed" name="pet-breed" required>

        <label for="pet-type"><b>Pet Birth</b></label>
        <input type="text" placeholder="Enter pet birth" [(ngModel)]="petModel.birth" name="pet-birth" required>
        
        <button type="button" class="btn" (click)="registerPet()">Register</button>
        <button type="button" class="btn cancel" (click)="closeForm()">Close</button>
    </form>
</div>
<h1>
    Your pets
</h1>
<div *ngFor="let pet of apiService.petsArray" class="module" style="text-align: center;">
    <div class="image-container" (click)="redirectPetPage(pet.id || '')" id="{{pet.id}}">
        <img width="50px" src="{{pet.profile_image}}" alt="Pet">
        <div class="overlay">
            <p>{{pet.name}}</p>
        </div>
    </div>
</div>