<div class="barra" id="barra">
    <p>PetGuardian App</p>
    <div>
        <img id="catIcon" src="/assets/menuIcons/cat.png" alt="User profile" (click)="swapLang('cat')"
            width="18px;">

        <img id="esIcon" src="/assets/menuIcons/espana.png" alt="User profile" (click)="swapLang('es')"
            width="18px;">

        <img id="enIcon" src="/assets/menuIcons/reino-unido.png" alt="User profile" (click)="swapLang('en')"
            width="30px;">

        <img id="profileIcon" src="/assets/menuIcons/userOff.svg" alt="User profile" (click)="togglePopup()">
    </div>
    <div class="popup" *ngIf="showPopup">
        <a (click)="redirectProfile()">{{ 'user_profile_popup' | transloco }}</a>
        <a (click)="logout()">{{ 'logout_popup' | transloco }}</a>
    </div>
</div>